<section>
    <form class="form-horizontal" ng-submit="create()">
        <h2>Add a city to the list <small> use <a target="_blank" href="http://www.latlong.net/">this site</a> for your convenience! </small></h2>
        <div class="form-group">
            <label class="control-label" for="name">Name</label>
            <div class="controls">
                <input type="text" ng-model="name" class="form-control" id="name" placeholder="Name" required="" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="latitude">Latitude</label>
            <div class="controls">
                <input ng-model="latitude" class="form-control" id="latitude" rows="10" placeholder="Latitude"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="longitude">Longitude</label>
            <div class="controls">
                <input ng-model="longitude" class="form-control" id="longitude" rows="10" placeholder="Longitude"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
            </div>
        </div>

    </form>
</section>